@import "../../styles/styleVariables.scss";


.componentToDoList{
    @include position(center, column, center);
    min-width: 80%;
    max-width: 100%;
    margin-top: 5%;
    text-align: center;
    padding: 2vh;

}

.componentMainToDoList{
    @include position(center, column, center);
 
} 
.componentToDoListSesrch{
    padding: 0vh;
    margin: 4vh;
}
.componentToDoListSesrch button, input{
   margin:  0%;
   padding: 7px;
}

.componentToDoListTask{
    min-width: 80%;
    max-width: 100%; 
    background-color: aliceblue;
   
}