.sectionMain{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
}
.areaImgMain{
background-color: #333;
width: 100%;
}
.areaFormsMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150vh;
    height: 100vh;
    width: 100%;
    margin-top: 20vh;
    
}
.areaComplementar{
    display: flex;
    font-size: 12px;
    margin-top: 2vh;
    justify-content: space-between;
    .areaComplementar2{
        display: flex;
      
    }

}

.cadastrese{
    margin-top: 8vh;
    font-size: 15px;
}

@media (max-width: 600px) {
    .sectionMain{
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }
    .areaImgMain{
    background-color: #333;
    width: 100%;
    }
    .areaFormsMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:150vh;
        height: 100vh;
        width: 79%;
        margin-top: 20vh;
        padding: 2vh;
    }
    .areaComplementar{
        display: flex;
        font-size: 12px;
        margin-top: 2vh;
       
        .areaComplementar2{
            display: flex;
          
        }
    
    }
    
    .cadastrese{
        margin-top: 8vh;
        font-size: 15px;
    }
}