.divMain {
    background-color: #987e6d;
    padding: 0%;
    margin: 0vh;
    max-width: 90%;
    min-width: 90%;
    max-height: 10%;
    min-height: 10%;
    display: flex;
    border-left: #682425 solid 10px;
    align-items: center;
    margin: 1vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
 
}

.check{
    background-color:#987e6d;
    border: 0cap;
}

.description {

    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;
    padding: 1vh;
    max-width: 70%;
    min-width: 70%;
}

.divMainTask {
    margin: 1vh;
    padding: 0vh;

}

.btns {
display: flex;
margin: 1vh;
button {
       margin: 5px;
       background-color:#987e6d;
        border: 0cap;
        padding: 5px;
        border-radius: 5px;
    } 


}

.areaCategoriasData{
    
   .text{
        color: #a59e96;
        font-size: 20px;
    }
}