.divMain {
    background-color: #fff1d0;
    padding: 0%;
    margin: 0vh;
    max-width: 90%;
    min-width: 90%;
    max-height: 10%;
    min-height: 10%;
    display: flex;
    border-bottom: #000 solid 1px;
    align-items: center;
 
}

.description {

    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;
    padding: 1vh;
    max-width: 70%;
    min-width: 70%;
}

.divMainTask {
    margin: 1vh;
    padding: 0vh;

}

.btns {
display: flex;
margin: 1vh;
button {
       margin: 5px;
       background-color: #f0c808;
        border: 0cap;
        padding: 5px;
        border-radius: 5px;
    } 


}

.areaCategoriasData{
    
   .text{
        color: #07a0c3;
        font-size: 20px;
    }
}