.divMainTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
    
   
}   
.divMain{
    margin: 2vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    min-width: 95%;
    max-width: 95%;
     overflow-y: auto;
}
.areaCategoriasData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;
    padding: 1vh;
}

.btns button{
   font-size: 15px;
   margin: 5px;
   border-radius: 20px;
  
}