.divMainTask{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.divMain{
   background-color: antiquewhite;
    border-bottom: black 2px solid;
    margin: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(0, 0, 0);
}