*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Mukta",  "Helvetica Neue", Helvetica, sans-serif;
     
}
:root{
    /* background-image: url(../public/teste3.png);
    background-size: cover; */
   
}
body{background-color: rgb(255, 255, 255);}
