*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
:root{
    background-image: url(../public/teste3.png);
   
    background-size: cover;
}
button{
    /* background-color: #333333; */
} 
input{
    padding: 5px;
  
}